<!DOCTYPE html>
<html lang="es">
    <%- include('partials/head',{title : producto.nombre})%> 
<body class="login">
    <%- include('partials/header') %> 
    <main>
        <div class="card mb-3" style="max-width: 320px;">

              <div class="">
                <img src="/images/<%= producto.imagen %>" class="card-img-top" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= producto.nombre%></h5>
                  <h6 class="card-title">$<%= producto.precio%></h6>
                  <p class="card-text"><%= producto.descripcion %></p>
                  <p class="card-text"><small class="text-muted"><%= capitalize(producto.categoria) %></small></p>
                </div>
              </div>
            </div>
          </div>
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>

